@media (min-width: 1024px) {
    
    .container{
        padding: 10px; 
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: initial;
        width:auto;
      
      }
      
  }
